
@{
    ViewData["Title"] = "تماس با ما ";
}
<h1>تماس با ما</h1>
<hr/>

<div class="container mt-5">

    <h2 class="text-center mb-4">تماس با ما</h2>

        <div class="text-center mb-4">
            <p>📍 آدرس: تهران، شهرک امید، بلوک21، واحد 32</p>
            <p>📞 تلفن: 021-12345678</p>
            <p>📧 ایمیل:hananeh.Dev@gmail.com</p>
        </div>

        <hr />

        <h5 class="text-center mb-3">ارسال پیام</h5>

        <form class="col-md-6 mx-auto">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="نام شما">
            </div>

            <div class="mb-3">
                <input type="email" class="form-control" placeholder="ایمیل شما">
            </div>

            <div class="mb-3">
                <textarea class="form-control" rows="4" placeholder="پیام شما"></textarea>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                ارسال پیام
            </button>
        </form>
</div>
    


